[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-histdb"]
	path = zsh-histdb
	url = https://github.com/larkery/zsh-histdb.git
	branch = master
[submodule "/Users/nick/dotfiles/autosuggest"]
	path = /Users/nick/dotfiles/autosuggest
	url = https://github.com/zsh-users/zsh-autosuggestions
