[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-histdb"]
	path = zsh-histdb
	url = https://github.com/larkery/zsh-histdb.git
	branch = master
[submodule "/Users/nick/dotfiles/autosuggest"]
	path = /Users/nick/dotfiles/autosuggest
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "/Users/npalenchar/dotfiles/autosuggest"]
	path = /Users/npalenchar/dotfiles/autosuggest
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "conf/zsh/oh-my-zsh/custom/plugins/zsh-nvm"]
	path = conf/zsh/oh-my-zsh/custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "conf/zsh/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = conf/zsh/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "src/oh-my-zsh"]
	path = src/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "src/zsh-syntax-highlighting"]
	path = src/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "src/zsh-autosuggestions"]
	path = src/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "src/powerlevel10k"]
	path = src/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
